
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .small-box {
        height: 200px;
      
    }
    .small-box-footer {
         margin-top:100px;
    }
</style>

<div class="container-fluid">
    <h1><strong><u>Dashboard</u></strong></h1>
    <div class="row">
        <div class="col-lg-4 col-6">

            <div class="small-box  bg-red" >
                <div class="inner">
                    <h3><u>Today Class</u></h3>
                 </div>
                <div class="icon">
                    <i class="ion ion-ios-book"></i>
                </div>
                <a href="#" class="small-box-footer">Class timetable shows<i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-6">

            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><u>Circular</u></h3>
                    
                </div>
                <div class="icon">
                    <i class="ion ion-ios-bell"></i>
                </div>
                <a href="#" class="small-box-footer">Academic Circulars <i class="fas fa-arrow-circle-right"></i></a>
             
            </div>
        </div>

        <div class="col-lg-4 col-6">

            <div class="small-box bg-green">
                <div class="inner">
                    <h3><u>Activities</u> </h3>
              
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">  Activities More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

</div>
