@charset "utf-8";
/* CSS Document */

h1, h2{ padding:0; margin:0}
body{ background: url(../images/bg-404.jpg) bottom center no-repeat fixed ; background-size: cover;font-family: 'Roboto', sans-serif; }
.page-404{ text-align:center; padding:0 10px;}

.page-404 h1 {
    font-size: 165px;
    text-shadow: 7px 5px 0 #264e0a; color:#90b929;line-height: 130px;
}
.page-404 h2{ font-size:60px; text-transform:uppercase; color:#414633;}
.page-404 a{ background:#90b929; display:inline-block; border-radius:4px; padding:8px 10px; text-transform:uppercase; color:#fff; text-decoration:none; box-shadow: 0 7px 0 #264e0a;}
@media only screen and (max-width: 767px) {
	.page-404 h1 {
    font-size: 102px;
    line-height: 80px;
}

.page-404 h2 {
    font-size: 34px;
}
}

